{% assign no_fixed = false %}
{% if template.name == 'page' %}
  {% if page.handle == 'merch' or page.handle == 'releases' or page.handle == 'about' or page.handle == 'contact' or page.handle == 'cart' %}
    {% assign no_fixed = true %}
  {% endif %}
{% elsif template.name == 'collection' and collection.handle == 'merch' %}
  {% assign no_fixed = true %}
  {% elsif template.name == 'cart' %}
  {% assign no_fixed = true %}
{% endif %}
<header class="site-header{% unless no_fixed %} fixed{% endunless %}">
  <nav class="main-nav">
    <div class="nav-center">
      <a href="/pages/about">ABOUT</a>
      <a href="/collections/merch">MERCH</a>
      <a href="/pages/releases">RELEASES</a>
    </div>
    <a href="/" class="logo-link">
      <img src="{{ 'Main-logo-white.png' | asset_url }}" alt="TRAKTR Records" class="nav-logo" />
    </a>
    <div class="nav-right">
      <a href="/pages/contact">Contact</a>
      <a href="mailto:demos@traktrrecords.com">Send Demo</a>
      <a href="#" id="cart-link">Cart (<span id="cart-count">0</span>)</a>
    </div>
  </nav>
</header>
